{% extends 'base.html.twig' %}

{% block body %}
<section class="section-congratulation">
<p class="empty">Inscription réussie&nbsp;!</p>
</section>

<h1 class="home">Articles populaires</h1>
{% block all_articles %}
            {% include 'parts/all_articles.html.twig' %}
    {% endblock all_articles %}
{% endblock %}