{% extends 'base.html.twig' %}

{% block body %}
<section class="section-congratulation">
<p class="empty">Inscription réussie&nbsp;!</p>
<a class="button" href=" {{ path('default') }} ">Retour au blog</a>
</section>
{% endblock %}