.detail-article {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
    .content-article {
        
        margin: 1rem;
        max-width: 780px;

        .links {

            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1rem;
    
            a {
    
                color: $color-secondary;
                font-weight: 600;
                text-align: center;
            }

            a:hover {

                text-decoration: underline;
            }
        }
        .image-section {
            width: 100%;
            margin-bottom: 2rem;
        }

        .introduction,
        .text-content,
        .video {
            margin: 3rem 0;
        }

        img {
            border-radius: 3px;
        }

        .video {
            cursor: pointer;
            z-index: 1;
            position: relative;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            
            video {  
                border: 5px solid $color-light-grey;
                transition: 1s;
                margin-bottom: 2rem;

            }

            span.play {

                position: absolute;
               top: 30%;
                left: 42.5%;
                right: 42.5%;
                z-index: 3;
                width: 15%;
                opacity: 0.5;

                img {

                    width: 100%;
                }
            }
        }

        .part-section {

            margin-bottom: 3rem;
        }
    }
}

// section social share
// ####################

.social-share {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;

    div {

        a {

            margin-right: 1rem;

            img {

                width: 30px;
            }

            img:hover {

                transform: scale(1.1);
            }
        }

        a:last-child {

            margin-right: 0;
        }
    }

    p {

        font-size: 1.5rem;
        margin-bottom: 2rem;
        font-weight: 600;
    }
}