{% extends 'base-admin.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="container w-25 m-auto mt-5">
    <h1>S'inscrire</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username, {
            'attr': {'class': 'form-control'}})}}
        {{ form_row(registrationForm.plainPassword)}}

        <button type="submit" class="btn btn-primary mt-3">S'inscrire</button>
    {{ form_end(registrationForm) }}
</div>    
{% endblock %}
