@import "bases/variables.scss";
@import "parts/header.scss";
@import "parts/footer.scss";
@import "parts/newsletter.scss";
@import "parts/pages/legal.scss";
@import "parts/congratulation.scss";
@import "parts/pages/detail-article.scss";
@import "bases/body.scss";
@import "components/buttons.scss";
@import "components/forms.scss";
@import "components/articles-cards.scss";

@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');