footer {

    background-color: $color-primary;
    color: white;
    padding-top: 3rem;
    padding-bottom: 1rem;
    margin-top: 5rem;

    .bottom {

        border-top: 1px solid $color-third;
        color: $color-third;
        width: 100%;
        margin-top: 3rem;
        text-align: center;
        padding-top: 1rem;

        a {
            font-size: 0.8rem;
            color: $color-third;

        }
    }

    .container {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: auto;

        .bloc {

            width: 100%;

            p {

                margin-left: 0.5rem;
            }

            .social-links {

                a {

                    img {

                        margin-right: 1rem;
                    }

                    img:hover {

                        transform: scale(1.2);
                    }
                }
            }
        }

    }

    @media screen and (min-width: 600px) {

        .container {

            flex-direction: row;
            justify-content: space-around;
            width: 100%;

            .bloc {

                width: auto;
            }
        }
    }
}

footer,
footer.bottom {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}