.top-header .top,
.top-header .header, .top-header {
    background-color: $color-primary;
}
.top-header {
    position: fixed;
    width: 100%;
    top: 0%;
    z-index: 5;
}

.top-header .top,
.top-header .header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .bloc {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1280px;
        .logo {
            img {
                width: 150px;
                margin: 0.5rem;
            }
        }
    }
}

.top {
    // top: 0;
    .bloc {
        margin: 1.7rem;
        margin-bottom: 1.2rem;
        .button {
            font-size: 0.8rem;
        }
        .search {
            img {
                width: 30px;
            }
        }
    }

}

.header {
    top: 79.7167px;

    .bloc {
        margin: 0 1rem;

        p {
            color: white;
            font-size: 1.5rem;
            margin: 1.2rem 0;
            font-family: $font-logo;
            font-weight: 600;
        }

        .navbar {
            // burger menu
            #link {
                width: 25px;
                height: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.5rem;
                margin: 0.5rem;
                border-radius: 100%;
                position: relative;
                z-index: 6;

                // burger menu
                // middle bar
                #burger {
                    width: 25px;
                    height: 2px;
                    background: white;
                    display: inline-block;
                    position: relative;
                    background-color: transparent;

                }

                // top and bottom bars
                #burger::before,
                #burger::after {
                    content: '';
                    width: 25px;
                    height: 2px;
                    background: white;
                    display: inline-block;
                    position: absolute;
                    transform-origin: center;
                    transition: all 0.3s ease;
                    left: 0;
                }

                #burger::before {
                    top: -4px;
                    right: 0;

                }

                #burger::after {
                    top: 4px;
                }

                // on click burger menu become cross
                #burger.open {
                    background: transparent; // middle bar
                }

                // change top and bottom bars to make a cross
                #burger.open::before {
                    transform: rotate(45deg);
                    top: 0;
                }

                #burger.open::after {
                    transform: rotate(-45deg);
                    top: 0;
                }
            }

        }

        // ul
        .menu {
            display: none;
            flex-direction: column;
            padding-left: 0;
            align-items: center;
            justify-content: space-around;
            background-color: $color-primary;
            width: 100%;
            position: absolute;
            margin: 0;
            left: 0;
            top: 65.4px;
            z-index: 1;
            padding-top: 2rem;
            transition: top 0.3s;

            li {
                padding: 0.5rem 0;
                width: 100%;
                display: flex;
                justify-content: center;

                a {
                    text-align: center;
                    margin-bottom: 1rem;
                }

               a:hover {
                    font-weight: 700;
                }

            }

            li:last-child {
                margin-bottom: 2rem;
            }

        }
    }

}

@media screen and (min-width: 500px) {
    .header {
        .bloc {
            p {
                font-size: 2rem;
            }
            .menu {
                top: 74.4px;

                li a {
                    font-size: 1.2rem;
                }
            }
        }
    }
}

@media screen and (min-width: 800px) {

    .header {
        .bloc {
            p {
                font-size: 3rem;
            }
            .menu {
                top: 92.4px;
                li a {
                    font-size: 1.5rem;
                }
            }
        }
    }
}
