.section-newsletter {

    max-width: 980px;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    text-align: center;
    background-image: linear-gradient(
        rgba(236, 84, 229, 0.6), 
        rgba(42, 100, 226, 0.6)
        ), url('img/background-newsletter.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem 1rem;
    padding-bottom: 5rem;
    h3 {
        margin-bottom: 2rem;
    }

    h2, h3 {
        color: white;
        padding: 1rem;
    }
}