.popular {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5rem 0;

    a {
        width: 80%;
        div {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 2px solid $color-grey;
            border-radius: 7px;
            margin-bottom: 3rem;
            
           
    
            img {
    
                border-radius: 7px;
                height: 180px;
                margin-bottom: 2rem;
            }
    
            p {
    
                color: $color-primary;
                font-weight: 600;
                font-size: 1.3rem;
            }
            
        }
    
    } 
    @media screen and (min-width: 500px) {

        a {
            div {

                img {

                    height: 230px;
                }
            }
        }
    }

    @media screen and (min-width: 600px) {

        a {
            div {

                img {

                    height: 280px;
                }
            }
        }
    }
    @media screen and (min-width: 700px) {

        flex-direction: row;
        flex-wrap: wrap;

        a {
            width: 320px;

            div {

                margin: 3rem 1.5rem;
                margin-top: 0;

                img {

                    height: 180px;
                }
            }
        } 

    }
}