{% extends 'base.html.twig' %}

{% block head %}
{% block title %}
{{ parent() }}
{% endblock %}
{% block stylesheets %}
{{ parent() }}
{% endblock stylesheets %}
{% endblock head %}

{% block header %}
    {{ parent() }}
{% endblock header %}

{% block body %}

    <h1 class="home">Blog d'astuces et tutos web</h1>
    {% block all_articles %}
            {% include 'parts/all_articles.html.twig' %}
    {% endblock all_articles %}

    {# newsletter #}
    {% block newsletter %}
        {% include 'parts/newsletter.html.twig' %}
    {% endblock %}
    {% block all_categories %}
             {{ render(controller('App\\Controller\\DefaultController::allCategories')) }}
    {% endblock all_categories %}

{% endblock %}