
.articles {

    margin-bottom: 3rem;

    .cards-container {


        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .card {

            width: 87%;
            display: flex;
            flex-direction: column;
            background-color: $color-light-grey;
            border-radius: 10px;
            margin: 2rem 0;
            transition: 1s;

            img {

                border-radius: 10px 10px 0 0;
                height: 250px;
            }

            .card-content {

                padding: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                h3 {

                    font-size: 1.1rem;
                    margin-top: 0;
                

                }

                .button {

                    margin: 1rem 0;
                }
            }
        }

        .card:hover {

            transform: scale(1.1);
        }
    }


    @media screen and (min-width: 500px) {

        .cards-container {

            .card {

                img {

                    height: 320px;
                }
            }
        }
    }

    @media screen and (min-width: 600px) {

        .cards-container {

            .card {

                img {

                    height: 350px;
                }
            }
        }
    }

    @media screen and (min-width: 700px) {

        .cards-container {

            .card {

                img {

                    height: 390px;
                }
            }
        }
    }

    @media screen and (min-width: 770px) {

        .cards-container {

            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;

            .card {

                margin: 2rem;
                width: 320px;

                img {

                    height: 250px;
                }
            }
        }
    }

    @media screen and (min-width: 1200px) {

        .cards-container {

            .card {

                width: 500px;

                img {

                    height: 430px;
                }
            }
        }

    }

}

 // show categories on article
 .categories {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 1rem 0;
    flex-wrap: wrap;

    p {

        padding: 0.5rem;
        margin: 0.5rem;
        margin-left: 0;
        margin-top: 0;
        background-color: $color-fourth;
        color: $color-secondary;
        border-radius: 3px;
    }
}

.date-article {

    color: $color-grey;
    font-weight: 600;
    font-size: 0.9rem;
}

.categories-section {

    h2 {

        margin-bottom: 0;
    }
}