.button {

    background-color: $color-secondary;
    color: white;
    padding: 0.5rem 1.2rem;
    border-radius: 50px;
}

.button:hover {

    background-color: $color-primary;
}


footer .container .bloc .newsletter-form form, .nav-top .top {

    .button-hover-black:hover {
    
        background-color: black;
    }
}

