form, .searchbar form {

    .input-text {

        padding: 0.5rem 0.8rem;
        border-radius: 50px;
        border: none;
    }

}

.searchbar form {

    margin: 2rem;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;

    @media screen and (min-width: 770px) {
    
        justify-content: center;
        margin-left: 0;
    }

    div {

        .button {

            border: 1px solid $color-secondary;
        }

        .input-text {

            border: 1px solid $color-light-grey;
        }
    }

    #search_searchBar {

        margin-right: 1rem;
    }
}

// newsletter form
form {

    .button {

        border: none;
        cursor: pointer;
    }

    .input-text {

        margin-right: 1rem;
    }
}