<!DOCTYPE html>
<html lang="fr">

<head>
    {% block stylesheets %}
    <link href=" {{ asset('css/bootstrap.css') }} " rel="stylesheet" />
    {% endblock stylesheets %}

</head>

<body>

    {% block header %}
    {% endblock header %}

    {% block body %}
    {% endblock %}

    {% block footer %}
    {% endblock footer %}

    {% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
    {% endblock %}
</body>

</html>