<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">
        <title>{% block title %}WebCréation - le blog{% endblock %}</title>
        {% block stylesheets %}
            <link href="style.css" rel="stylesheet"/>
        {% endblock %}
    
    </head>

    <body>

    {% block header %}
        {% include 'parts/header.html.twig' %}
    {% endblock header %}
    
    {% block body %}
    {% endblock %}

    </body>

</html>
