<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <title>{% block title %}WebCréation - le blog{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap" rel="stylesheet">
    {% block stylesheets %}
    <link href=" {{ asset('style.css') }} " rel="stylesheet" />
    {% endblock %}


</head>

<body>

    {% block header %}
    {% include 'parts/header.html.twig' %}
    {% endblock header %}

    {% block body %}
    {% endblock %}

    {% block footer %}
    {% include 'parts/footer.html.twig' %}
    {% endblock footer %}

    {% block javascripts %}
        <script type="text/javascript" src=" {{ asset('js/global-scripts.js') }} "></script>
    {% endblock %}
</body>

</html>