{% extends 'base-admin.html.twig' %}

{% block title %}Éditer{% endblock %}

{% block body %}
<div  class="d-flex align-items-center justify-content-center bg-light">
<div class="container m-3">
    <h1 class="m-3 mt-5 mb-5 fs-2">ÉDITION DE L'ARTICLE : {{ article.title }} </h1>

    {{ include('article-crud/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    {{ include('article-crud/_delete_form.html.twig') }}

    <a class="m-3" href="{{ path('app_article_index') }}">Retour</a>
    
</div>
</div>
{% endblock %}
