{% extends 'base-admin.html.twig' %}

{% block title %}Éditer{% endblock %}

{% block body %}
<div  class="d-flex align-items-center justify-content-center">
<div class="container m-3">
    <h1 class="m-5 text-center">Édition article : {{ article.title }} </h1>

    {{ include('article-crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="m-3" href="{{ path('app_article_index') }}">Retour</a>

    {{ include('article-crud/_delete_form.html.twig') }}
    
</div>
</div>
{% endblock %}
