body {

    margin: 0;
    box-sizing: border-box;
    color: black;
    font-family: $font-text;

    a {

        text-decoration: none;
        color: white;
    }

    .title-cards, .home {

        margin: 3rem 1rem;
        text-align: left;
        font-size: 1.5rem;
        text-transform: uppercase;
        margin-left: 10%;
    
    }

    h1, h2, h3 {

        color: $color-primary;
        font-family: $font-titles;
    }

    h1 {

        font-size: 1.5rem;
        margin-bottom: 2rem;
        
    }

    h2 {

        font-size: 1.5rem;
    }

    .introduction {

        font-weight: 600;
    }

     // show element with transition
     .load {
    
        -webkit-animation-name: cssAnimation;
        -webkit-animation-duration: 1s;
        -webkit-animation-timing-function: ease;
        -webkit-animation-fill-mode: forwards;

        animation-name: cssAnimation;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }

    @media screen and (min-width: 770px) {
    
        .title-cards, .home {

            text-align: center;
            margin-left: 0;
            font-size: 2rem;
        }

        h1 {

            font-size: 2.5rem;
        }

        h2 {

            font-size: 2rem;
        }

    }
}