body {

    margin: 0;
    box-sizing: border-box;
    color: black;
    font-family: $font-text;

    a {

        text-decoration: none;
        color: white;
    }

    // form message for search bar
    .empty {

        font-weight: 600;
    }
    .title-cards,
    .home,
    .empty {

        margin: 3rem 1rem;
        text-align: left;
        margin-left: 10%;
    }

    .title-cards,
    .home {

        font-size: 1.5rem;
        text-transform: uppercase;
    }

    h1,
    h2,
    h3 {

        color: $color-primary;
        font-family: $font-titles;
    }

    h1 {

        font-size: 1.5rem;
        margin-bottom: 2rem;

    }

    h2 {

        font-size: 1.5rem;
    }

    .introduction {

        font-weight: 600;
    }

    // show element with transition
    .load {

        -webkit-animation-name: cssAnimation;
        -webkit-animation-duration: 0.8s;
        -webkit-animation-timing-function: ease;
        -webkit-animation-fill-mode: forwards;

        animation-name: cssAnimation;
        animation-duration: 0.8s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }

    @-webkit-keyframes cssAnimation {

        from {

            opacity: 0;

        }

        to {

            opacity: 1;

        }
    }

    @keyframes cssAnimation {

        from {

            opacity: 0;

        }

        to {

            opacity: 1;

        }
    }


    // media queries
    // #############
    @media screen and (min-width: 770px) {

        .title-cards,
        .home,
        .empty {

            text-align: center;
            margin-left: 0;
        }

        .title-cards,
        .home {

            font-size: 2rem;
        }


    }

    h1 {

        font-size: 2.5rem;
    }

    h2 {

        font-size: 2rem;
    }

}
