// delete highlight
/*IE9*/
*::selection {
    background-color:transparent;
} 
*::-moz-selection {
    background-color:transparent;
}
* {        
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    /*IE10*/
    -ms-user-select: none;
    user-select: none;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}  

// block text selection
input[type="text"], textarea, [contenteditable] {

    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

body {

    margin: 0;
    box-sizing: border-box;
    color: black;
    font-family: $font-text;
   
    a {

        text-decoration: none;
        color: white;
    }

    // form message for search bar
    .empty {

        font-weight: 600;
    }
    .title-cards,
    .home,
    .empty {

        margin: 2rem 1rem;
        text-align: left;
        margin-left: 7%;
    }
    
    .title-cards,
    .home {
        font-size: 1.8rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }

    h1,
    h2,
    h3 {

        color: $color-secondary;
        font-family: $font-titles;
    }

    .articles h1.title-cards, h1.home, h1.title-cards, .content-article h1 {
        margin-top: 220px;
    }

    // sections
    section.articles {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .introduction {

        font-weight: 600;
    }

    // ###########
    // ANIMATIONS 
    // ###########

    // show element with transition
    .load {

        -webkit-animation-name: cssAnimation;
        -webkit-animation-duration: 0.8s;
        -webkit-animation-timing-function: ease;
        -webkit-animation-fill-mode: forwards;

        animation-name: cssAnimation;
        animation-duration: 0.8s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }

    @-webkit-keyframes cssAnimation {

        from {

            opacity: 0;
            width: 0;

        }

        to {

            opacity: 1;
            width: 100%;

        }
    }

    @keyframes cssAnimation {

        from {

            opacity: 0;
            width: 0;

        }

        to {

            opacity: 1;
            width: 100%;

        }
    }

    // transform scale 1.1
    .transform-scale:hover {

        transform: scale(1.05);
    }


    // ################
    // media queries
    // #############
    @media screen and (min-width: 770px) {

        .title-cards,
        .home,
        .empty {

            text-align: center;
            margin-left: 1rem;
        }

        .title-cards,
        .home {

            font-size: 2rem;
        }


    }

    h1 {

        font-size: 2.5rem;
    }

    h2 {

        font-size: 2rem;
    }

}
