// POLICES 
// ##########

$font-text: 'Oxygen', sans-serif;
$font-titles: 'Heebo', sans-serif;
$font-logo: 'Koulen', cursive;

// COLORS
// ######

$color-secondary: #3148C5;
$color-primary: #151A63;
$color-third: #838ED7;
$color-fourth: #D8DDF4;
$color-light-grey: #F8F9FD;
$color-grey: #959DB8;