// POLICES 
// ##########

$font-text: 'Oxygen', sans-serif;
$font-titles: 'Heebo', sans-serif;
// $font-logo: 'Koulen', cursive;
$font-logo: 'Zen Loop', cursive;

// COLORS
// ######

$color-secondary: #e61fa8;
$color-primary: #036bba;
$color-third: #838ED7;
$color-fourth: #D8DDF4;
$color-light-grey: #F8F9FD;
$color-grey: #959DB8;