<footer>
    <div class="container">
        <div class="bloc">
            <p><a href="">Contact</a></p>
            <div class="social-links">
                <a href="https://www.facebook.com/Alice-Richardeau-110621991611707">
             <img src=" {{ asset('img/facebook.svg') }} " alt="facebook" width="30px">
         </a>
         <a href="https://www.instagram.com/alicerichardeau/">
             <img src=" {{ asset('img/instagram.svg') }} " alt="instagram"  width="30px">
         </a>
         <a href="https://www.linkedin.com/company/d%C3%A9veloppeur-web-freelance-alice-richardeau">
             <img src=" {{ asset('img/linkedin.svg') }} " alt="linkedin"  width="30px">
         </a>
            </div>
        </div>
        <div class="bloc">
           <p>Newsletter</p>

           {{ render(controller('App\\Controller\\NewsletterController::new')) }}
            {# <form>
                <input type="email" class="input-text" name="email" required="required" placeholder="Adresse mail">
                <input type="submit" class="button" value="S'inscire">
            </form> #}
            
        </div>
    </div>
    <div class="bottom">
         <p>Copyright © <a href="">Alice Richardeau</a> - 2022 - <a href="">Mentions  légales</a></p>
    </div>
</footer>

