<div class="header">
    <a class="logo" href="">
        <img src="" alt="Logo"/>
    </a>
    <p> Web Création - Le Blog</p>
    <a class="button" href="">
        Contactez un dévéloppeur web
    </a>
</div>