<div class="nav-top">
    {# BUTTON AND SEARCH #}
    <div class="top">
        <a class="button button-outline-hover" href="https://alicerichardeau.fr">
            Contactez un développeur
        </a>
        <a href="" class="search"><img src=" {{ asset('/img/search.svg') }} "
                        alt="Rechercher un produit"></a>
    </div>
    
    {# TITLE AND BURGER MENU #}
    <div class="header">
        <a class="logo" href=" {{ path('default') }} ">
            <img src=" {{ asset('/img/logo-white.png') }} " alt="Logo" width="50px"/>
        </a>
        <p>Création web - Le blog</p>
        <div class="navbar">
        <!-- menu -->
            <a id="link" href="#"><span id="burger"></span></a>
            <ul class="menu">
            {% for article in articles %}
                {% for category in article.categories %}
                    <li><a href=""> {{ category.name }} </a></li>
                {% endfor %}
            {% endfor %}

            </ul>
        </div>
    </div>
</div>
    
