<section class="section-newsletter" width="90%">
        <h2>Vous souhaitez recevoir nos dernières astuces et publications?</h2>
        <h3>Inscrivez vous à notre newsletter!</h3>
        {{ render(controller('App\\Controller\\NewsletterController::new')) }}
</section>