{# section popular #}
<h2 class="title-cards">Sujets populaires</h2>
<section class="popular">
    {% for category in categories %}
    <a href="{{ path('articles_for_one_category', {'slug': category.slug }) }}"><div class="transform-scale">
        <p>{{ category.name }}</p>
        <img src="{{ asset('uploads/'~ category.image.url) }}" alt="{{ category.image.alt }}." width="80%">
    </div></a>
    {% endfor %}
</section>
{# end section popular #}